.container{
    display: flex;
    flex-direction: column;
}
.inputfile{
    display: none;
}
.filelable{
    font-size: 16px;
    width: 150px;
    height: 20px;
    padding: 5px;
    text-align: center;
    background-color: rgb(24, 167, 192);
    color: rgb(241, 235, 235);
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-top: 10px;
}
.filelable:hover{
    background-color: rgb(8, 98, 114);
}
.button_container{
    width: 120px;
    height: 30px;
    font-size: 18px;
    color: floralwhite;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #1B69E4;
    border-radius: 5px;
    margin-top: 20px;
    outline: none;
    border:none
}
.button_container:hover{
    background-color: #E4961B;
}
.imgsrc{
    width: 100px;
    height: 90px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.image_conatiner{
    width: 100px;
    height: 90px;
    margin-top: 5px;
}
.btnWrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center
}
.inputtext{
    width: 190px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
}
.btnWrapper p{
    font-size: 16px;
    margin-right: 10px;
}
.bckbtn_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
}
.formcontainer{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.backbutton{
    width:100px;
    height:32px;
    text-align: center;
    font-size:16px;
    background-color:#15A6EA;
    border-radius:10px;
    color: #fff;
    border: none;
}
.backbutton:hover{
    background-color: #EA5915;
}