.tableMainContainer{
    display: flex;
    flex-direction: column;
    overflow:-moz-hidden-unscrollable;
}
.butoonWrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top:10px;
}
.paginationbtn{
    width: auto;
    background-color: #108EEF;
    padding: 5px;
    border: none;
    color: azure;
    border-radius: 5px;
}
.paginationbtn:hover{
    background-color: #E1341E;
}
.textinput{
    width: 270px;
    height:30px;
    padding-left: 10px;
}
.tableContainer{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.wraptable{
    margin-top: 5px;
    width: 100%;
}
.wraptable ::-webkit-scrollbar{
    display: none;
}

.table{
    width: 120px;
    height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.table1{
    width: 120px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #9ac1f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.table1 p{ 
    text-align: center; 
    font-size: 10px;
    font-weight: 400;
    
}
.table p{
    text-align: center;
}
.table1 img {
    text-align: center;
    width: 90px;
    height: 25px;
}
.backbutton{
    width:80px;
    height:32px;
    text-align: center;
    font-size:16px;
    background-color:#15A6EA;
    border-radius:5px;
    color: #fff;
    border: none;
    margin-left:10px;
}
.backbutton:hover{
    background-color: #EA5915;
}
.loadingStyle{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}