.button_container{
    color:rgb(17, 190, 69);
    background-color: rgb(97, 95, 102);
    width: 100px;
    height: 20px;
    padding: 8px;
    text-align: center;
    outline: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.button_container:hover{
    background-color: rgb(8, 4, 4);
}