.tableMainContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.mailtablecontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    overflow: -moz-hidden-unscrollable;
}
.tableContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.mailtablecontainer ::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
}
.table{
    width: 140px;
    height: 40px;
    border: 0;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.table1{
    width: 140px;
    height: 65px;
    border:0;
    border-bottom: 1px solid #b6b6b8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.oneRowFixData{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.oneRowFixData label{
    text-align: center;
}
span{  
    text-align: center;
    font-size: 15px;
    font-weight: 400;   
}
.mailtablecontainer{
    width: 90%;
    height:90%;
}
.btnWrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center
}
.inputtext{
    width: 190px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
}
.btnWrapper p{
    font-size: 16px;
    margin-right: 10px;
}
.excelbtn{
    width:150px;
    height:35px;
    font-size:15px;
    color:#fff;
    background-color: #1ECBE1;
    border:none;
}
.excelbtn:hover{
    background-color:#E1341E;
}